---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';

import { Image } from 'astro:assets';

import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Afto font">
    <section><titel><titel/> </section>
        
<div class="h-20 grid grid-cols-8"><div class="col-span-3 border-r-2  border-[var(--purple-2)] "></div> <svg class="md:hidden relative col-start-7 place-self-end mr-4" width="75" height="111" viewBox="0 0 75 111" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_3_27)">
    <path d="M74.93 55.44C69.06 52.38 59.81 46.61 51.82 36.64C39.97 21.86 37.92 6.61 37.46 0C36.84 6.87 34.45 21.85 22.77 36.49C14.92 46.34 5.91 52.22 0 55.44C1.81 56.34 3.97 57.5 6.33 58.97C11.51 62.34 17.6 67.2 23.1 74.06C34.95 88.84 37 104.09 37.45 110.7C37.45 110.69 37.45 110.67 37.45 110.66C37.45 110.73 37.45 110.81 37.46 110.88C37.46 110.77 37.46 110.64 37.46 110.52C38.1 103.57 40.55 88.73 52.14 74.2C59.21 65.34 67.2 59.71 73.03 56.32C73.7 56 74.34 55.7 74.92 55.44H74.93Z" fill="#2A122A"/>
    </g>
    <defs>
    <clipPath id="clip0_3_27">
    <rect width="74.93" height="110.88" fill="white"/>
    </clipPath>
    </defs>
    </svg></div>
	<article id="hero" class="md:grid md:grid-cols-8 flex flex-col">
			<!-- <svg class="lg:absolute z-50 relative lg:top-[105px] lg:left-[430px] lg:transform lg:-translate-x-1/2 lg:-translate-y-1/2" width="75" height="111" viewBox="0 0 75 111" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_3_27)">
			<path d="M74.93 55.44C69.06 52.38 59.81 46.61 51.82 36.64C39.97 21.86 37.92 6.61 37.46 0C36.84 6.87 34.45 21.85 22.77 36.49C14.92 46.34 5.91 52.22 0 55.44C1.81 56.34 3.97 57.5 6.33 58.97C11.51 62.34 17.6 67.2 23.1 74.06C34.95 88.84 37 104.09 37.45 110.7C37.45 110.69 37.45 110.67 37.45 110.66C37.45 110.73 37.45 110.81 37.46 110.88C37.46 110.77 37.46 110.64 37.46 110.52C38.1 103.57 40.55 88.73 52.14 74.2C59.21 65.34 67.2 59.71 73.03 56.32C73.7 56 74.34 55.7 74.92 55.44H74.93Z" fill="#2A122A"/>
			</g>
			<defs>
			<clipPath id="clip0_3_27">
			<rect width="74.93" height="110.88" fill="white"/>
			</clipPath>
			</defs>
			</svg> -->
			<svg class="hidden md:col-start-2 md:grid place-self-end mr-4" width="75" height="111" viewBox="0 0 75 111" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_3_27)">
				<path d="M74.93 55.44C69.06 52.38 59.81 46.61 51.82 36.64C39.97 21.86 37.92 6.61 37.46 0C36.84 6.87 34.45 21.85 22.77 36.49C14.92 46.34 5.91 52.22 0 55.44C1.81 56.34 3.97 57.5 6.33 58.97C11.51 62.34 17.6 67.2 23.1 74.06C34.95 88.84 37 104.09 37.45 110.7C37.45 110.69 37.45 110.67 37.45 110.66C37.45 110.73 37.45 110.81 37.46 110.88C37.46 110.77 37.46 110.64 37.46 110.52C38.1 103.57 40.55 88.73 52.14 74.2C59.21 65.34 67.2 59.71 73.03 56.32C73.7 56 74.34 55.7 74.92 55.44H74.93Z" fill="#2A122A"/>
				</g>
				<defs>
				<clipPath id="clip0_3_27">
				<rect width="74.93" height="110.88" fill="white"/>
				</clipPath>
				</defs>
				</svg>
				
		<div class="col-start-3 col-span-4 border-2 border-[var(--purple-2)] bg-[var(--white)] p-10">
			<div class="flex justify-self-center items-center md:px-24 md:max-w-[100%]">
				<svg width="571" height="250" viewBox="0 0 571 483" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_63_115)">
                    <path d="M216.48 47.6C243.74 48.95 271.67 38.22 275.8 23.74C276.74 21.69 277.27 19.42 277.27 17.02C277.27 8.12998 271.05 2.41998 262.16 2.41998H169.6C160.71 2.41998 153.5 9.62998 153.5 18.52C154.14 25.61 155.06 29.87 156.28 32.37C158.54 39.58 162.8 46.89 170.85 47.57C172.17 47.68 173.34 47.96 174.39 48.38C183.41 52.62 179.59 72.47 170.41 72.75C154.78 73.21 152.52 106.08 152.93 111.37C152.93 111.49 152.96 111.6 152.99 111.72C152.96 112.14 152.93 112.57 152.93 113C152.93 113.22 152.93 113.43 152.95 113.65H152.93C152.93 113.65 153.72 141.85 169.78 143.5H169.69C170.16 143.59 170.63 143.66 171.13 143.7C171.22 143.7 171.3 143.72 171.38 143.73C184.08 146.29 180.5 168.38 170.41 168.68C154.78 169.14 152.52 202.01 152.93 207.3C152.95 207.54 153.01 207.77 153.1 207.99C154.23 215.78 160.93 221.77 169.03 221.77H218.17C226.08 221.55 232.57 215.64 233.67 207.99C233.76 207.77 233.82 207.54 233.84 207.3C234.24 202.01 231.84 166.51 216.36 168.68C216.01 168.73 215.66 168.75 215.32 168.75C210.78 167.85 207.76 161.06 207.3 155.27L207.26 156.27V125.98C208.14 121.21 211.01 117.44 216.48 117.71C243.74 119.06 271.67 108.33 275.8 93.85C276.74 91.8 277.27 89.53 277.27 87.13C277.27 78.24 271.05 72.53 262.16 72.53H214.69C205.37 70.11 202.8 46.92 216.48 47.6Z" fill="#291329"/>
                    <path d="M544.77 164.17C531.96 163.83 528.06 140.32 545.21 139.02C558.31 138.03 562.49 123.13 563.81 114.75C564.19 113.37 564.4 111.92 564.4 110.42C564.85 105.13 562.32 72.27 544.77 71.8C531.96 71.46 528.06 47.95 545.21 46.65C560.25 45.52 563.53 26.06 564.22 19.16C564.34 18.38 564.4 17.58 564.4 16.76C564.4 7.86997 557.19 0.659973 548.3 0.659973H463.48C454.59 0.659973 447.38 7.86997 447.38 16.76C447.38 17.58 447.44 18.38 447.56 19.16C448.25 26.05 451.53 45.51 466.57 46.65C483.73 47.94 479.83 71.46 467.01 71.8C449.45 72.26 446.93 105.13 447.38 110.42C447.38 111.92 447.59 113.37 447.97 114.75C449.29 123.13 453.46 138.03 466.57 139.02C483.73 140.31 479.83 163.83 467.01 164.17C449.45 164.63 446.93 197.5 447.38 202.79C447.38 202.87 447.4 202.95 447.42 203.03C447.4 203.38 447.38 203.72 447.38 204.07C447.38 212.96 454.59 220.17 463.48 220.17H548.3C557.19 220.17 564.4 212.96 564.4 204.07C564.4 203.72 564.38 203.37 564.36 203.03C564.38 202.95 564.39 202.87 564.4 202.79C564.85 197.5 562.32 164.64 544.77 164.17ZM518.53 124.77C506.75 139.1 505.91 154.39 505.89 159.8C505.61 153.85 504.03 139.11 492.57 125.05C485.01 115.77 476.23 110.55 470.78 107.86C476.32 104.84 484.76 99.33 492.11 90.11C503.05 76.39 505.3 62.35 505.88 55.91C506.31 62.1 508.23 76.39 519.33 90.24C526.82 99.58 535.49 104.99 540.99 107.85C535.66 110.24 526.36 115.24 518.52 124.77H518.53Z" fill="#291329"/>
                    <path d="M117.72 168.53C107.29 168.22 103.81 144.59 118.12 143.38C134.41 142 135.21 113.5 135.21 113.5H135.15C135.2 112.96 135.23 112.42 135.23 111.87C135.23 111.64 135.23 111.4 135.21 111.17C135.59 105.74 133.31 73.07 117.72 72.6C107.29 72.29 103.81 48.66 118.12 47.45C131.83 46.29 134.57 25.91 135.09 19.49C135.16 18.86 135.21 18.22 135.21 17.57C135.21 8.67998 128 1.46998 119.11 1.46998H99.08C97.76 1.46998 96.72 1.41998 95.32 1.41998H94.71C93.5 1.41998 92.11 1.46998 90.77 1.46998H16.14C7.24999 1.46998 0.0399902 8.67998 0.0399902 17.57C0.0399902 18.22 0.0799902 18.86 0.15999 19.49C0.67999 25.91 3.41999 46.29 17.13 47.45C32.41 48.74 28.94 72.26 17.53 72.6C1.88999 73.07 -0.36001 105.93 0.0399902 111.22C0.0399902 111.23 0.0399902 111.25 0.0399902 111.26C0.00999023 111.65 -0.0100098 112.04 -0.0100098 112.43C-0.0100098 113.15 0.0399902 113.85 0.12999 114.54C0.59999 120.68 3.22999 141.56 17.12 142.73C32.4 144.02 28.93 167.54 17.52 167.88C1.88999 168.34 -0.36001 201.21 0.0399902 206.5C0.0599902 206.74 0.11999 206.96 0.20999 207.18C1.32999 214.98 8.02999 220.97 16.14 220.97H25.56L31.71 221.18C31.71 221.18 42.29 220.12 43.87 209.51C44 208.64 44.07 207.73 44.07 206.74L43.89 159.48C43.89 159.48 43.88 159.13 43.86 158.83V152.78C43.92 152.35 43.98 151.92 44.07 151.5V130.43C44.85 126.18 47.42 122.56 52.3 121.73H82.43C82.8 121.8 82.99 121.79 83.25 121.89C83.56 121.92 83.69 122.07 83.92 122.09C89.54 122.57 92.42 126.51 93.2 131.14V207.36C93.2 208.63 93.44 209.88 93.88 211.07C94.27 212.81 94.92 214.26 95.72 215.47V215.5H95.73C99.3 220.93 105.82 221.58 105.82 221.58L105.86 221.66L106.83 221.63H119.08C127.18 221.63 133.89 215.64 135.01 207.85C135.1 207.63 135.16 207.4 135.18 207.16C135.58 201.87 133.33 169.01 117.7 168.54L117.72 168.53ZM80.35 77.37C68.48 91.8 67.64 107.19 67.63 112.65C67.35 106.65 65.76 91.82 54.22 77.65C46.61 68.31 37.76 63.05 32.28 60.33C37.86 57.29 46.36 51.74 53.76 42.45C64.78 28.63 67.04 14.5 67.62 8.00998C68.05 14.25 69.98 28.64 81.16 42.58C88.7 51.99 97.43 57.43 102.97 60.32C97.6 62.72 88.24 67.76 80.35 77.35V77.37Z" fill="#291329"/>
                    <path d="M414.58 0H302.43C293.54 0 286.33 6.88 286.33 15.77C286.34 16.29 286.33 17.31 286.62 18.35C287.99 23.3 299.8 47.52 333.34 46.75C333.38 46.75 333.42 46.75 333.45 46.75C334.03 46.74 334.61 46.72 335.2 46.69C336.54 46.62 337.73 46.79 338.77 47.14C345.44 49.4 346.02 59.41 342.9 65.97C342.66 66.47 342.41 66.94 342.13 67.39C342.01 67.59 341.88 67.79 341.75 67.98C341.31 68.62 340.83 69.2 340.31 69.7C340.18 69.83 340.04 69.95 339.9 70.07C339.41 70.49 338.89 70.85 338.34 71.13C337.49 71.56 336.58 71.81 335.6 71.84C334.62 71.87 333.7 72.02 332.82 72.29C332.8 72.29 332.79 72.3 332.77 72.31C332.34 72.44 331.93 72.6 331.53 72.78C319.57 78.25 317.75 105.66 318.12 110.45C318.12 110.46 318.12 110.48 318.12 110.49C318.12 110.54 318.12 110.58 318.14 110.63C318.14 110.69 318.16 110.74 318.17 110.8C318.15 111 318.14 111.2 318.13 111.41C318.12 111.63 318.11 111.85 318.11 112.08C318.11 112.15 318.11 112.21 318.11 112.28C318.11 112.43 318.11 112.58 318.12 112.73H318.1C318.1 112.73 318.4 123.57 322.46 132.21C324.98 137.58 328.95 142.09 335.19 142.62C341.2 143.13 344.07 147.6 344.61 152.63C344.61 152.67 344.61 152.7 344.62 152.74C344.89 155.42 344.49 158.25 343.56 160.72C343.42 161.09 343.27 161.46 343.1 161.81C343.03 161.97 342.95 162.13 342.87 162.28C342.11 163.78 341.14 165.07 339.98 166.03C339.92 166.08 339.86 166.13 339.8 166.17C339.33 166.54 338.84 166.85 338.32 167.1C338.28 167.12 338.23 167.14 338.19 167.16C338.06 167.22 337.93 167.27 337.8 167.32C337.1 167.59 336.36 167.74 335.58 167.77C334.6 167.8 333.68 167.95 332.8 168.22C332.78 168.22 332.77 168.23 332.75 168.24C332.32 168.37 331.91 168.53 331.51 168.71C319.55 174.18 317.73 201.59 318.1 206.38C318.1 206.38 318.1 206.39 318.1 206.4C318.1 206.46 318.11 206.52 318.12 206.57C318.12 206.61 318.14 206.65 318.14 206.69C318.14 206.71 318.14 206.73 318.15 206.74C318.16 206.79 318.18 206.84 318.19 206.89C318.19 206.89 318.19 206.89 318.19 206.9C318.21 206.95 318.23 207.01 318.25 207.06C318.28 207.27 318.32 207.48 318.36 207.69C318.36 207.73 318.37 207.77 318.38 207.82C318.42 208.01 318.46 208.2 318.5 208.39C318.51 208.45 318.53 208.5 318.54 208.56C318.58 208.74 318.63 208.92 318.68 209.1C318.7 209.16 318.71 209.22 318.73 209.28C318.78 209.46 318.84 209.63 318.89 209.8C318.91 209.86 318.93 209.92 318.95 209.98C319.01 210.15 319.07 210.32 319.14 210.49C319.16 210.55 319.19 210.61 319.21 210.67C319.28 210.84 319.35 211.01 319.42 211.18C319.44 211.23 319.47 211.28 319.49 211.33C319.57 211.5 319.65 211.68 319.73 211.85C319.75 211.88 319.77 211.92 319.78 211.95C320.18 212.75 320.65 213.52 321.18 214.24C321.19 214.26 321.2 214.27 321.22 214.29C321.33 214.43 321.44 214.57 321.55 214.72C321.59 214.77 321.63 214.83 321.68 214.88C321.78 215.01 321.89 215.13 321.99 215.25C322.05 215.31 322.1 215.38 322.16 215.44C322.26 215.55 322.37 215.67 322.47 215.78C322.53 215.85 322.6 215.92 322.66 215.98C322.76 216.09 322.87 216.19 322.97 216.29C323.04 216.36 323.11 216.43 323.19 216.5C323.29 216.6 323.4 216.69 323.51 216.79C323.59 216.86 323.67 216.93 323.75 216.99C323.86 217.08 323.96 217.17 324.07 217.26C324.15 217.33 324.24 217.39 324.33 217.46C324.44 217.54 324.54 217.63 324.65 217.71C324.74 217.78 324.83 217.84 324.93 217.91C325.04 217.99 325.15 218.06 325.26 218.14C325.36 218.21 325.46 218.27 325.57 218.34C325.68 218.41 325.78 218.48 325.89 218.54C326.06 218.64 326.23 218.74 326.4 218.83C326.52 218.9 326.65 218.97 326.78 219.03C326.91 219.1 327.05 219.17 327.18 219.24C327.28 219.29 327.38 219.33 327.48 219.38C327.61 219.44 327.74 219.5 327.87 219.55C327.97 219.59 328.08 219.64 328.18 219.68C328.31 219.73 328.44 219.78 328.57 219.83C328.68 219.87 328.78 219.91 328.89 219.94C329.02 219.99 329.15 220.03 329.29 220.07C329.4 220.1 329.51 220.14 329.62 220.17C329.76 220.21 329.89 220.25 330.03 220.29C330.14 220.32 330.25 220.35 330.36 220.37C330.5 220.4 330.64 220.44 330.78 220.47C330.89 220.49 331 220.52 331.11 220.54C331.26 220.57 331.4 220.59 331.55 220.62C331.66 220.64 331.77 220.66 331.87 220.67C332.02 220.69 332.18 220.71 332.33 220.73C332.43 220.74 332.54 220.76 332.64 220.77C332.81 220.79 332.99 220.8 333.16 220.81C333.25 220.81 333.33 220.82 333.42 220.83C333.68 220.84 333.95 220.85 334.21 220.85H383.35C385.57 220.78 387.69 220.27 389.6 219.4C389.81 219.3 390.02 219.2 390.22 219.1C390.22 219.1 390.23 219.1 390.24 219.1C390.44 219 390.64 218.89 390.84 218.78C392.05 218.1 393.16 217.26 394.15 216.3C394.15 216.3 394.15 216.3 394.16 216.29C394.31 216.14 394.46 216 394.6 215.84C394.62 215.82 394.64 215.79 394.67 215.77C394.8 215.63 394.94 215.48 395.06 215.33C395.09 215.3 395.12 215.27 395.14 215.23C395.27 215.08 395.39 214.94 395.51 214.79C395.54 214.76 395.56 214.72 395.59 214.69C395.71 214.54 395.83 214.38 395.94 214.23C395.96 214.2 395.98 214.17 396 214.14C396.12 213.97 396.24 213.81 396.35 213.64C396.35 213.64 396.35 213.63 396.36 213.62C396.86 212.86 397.29 212.06 397.66 211.23C397.66 211.21 397.68 211.2 397.68 211.18C397.76 211 397.83 210.82 397.9 210.64C397.92 210.59 397.94 210.55 397.95 210.5C398.02 210.33 398.08 210.15 398.14 209.98C398.16 209.92 398.18 209.86 398.2 209.81C398.26 209.64 398.31 209.47 398.36 209.29C398.38 209.23 398.4 209.17 398.41 209.1C398.46 208.93 398.51 208.75 398.55 208.57C398.56 208.51 398.58 208.45 398.59 208.39C398.63 208.21 398.67 208.02 398.71 207.84C398.71 207.79 398.73 207.74 398.74 207.7C398.78 207.5 398.81 207.3 398.84 207.1C398.86 207.05 398.88 206.99 398.9 206.94C398.9 206.94 398.9 206.94 398.9 206.93C398.92 206.88 398.93 206.83 398.94 206.78C398.94 206.76 398.94 206.74 398.95 206.73C398.95 206.69 398.97 206.65 398.97 206.61C398.98 206.55 398.99 206.49 398.99 206.42C399.11 204.85 398.99 200.85 398.36 195.99C398.29 195.48 398.22 194.96 398.14 194.43C398.07 193.94 397.99 193.45 397.91 192.95C397.9 192.87 397.88 192.78 397.87 192.7C397.74 191.92 397.6 191.14 397.44 190.34C397.38 190.01 397.31 189.68 397.24 189.35C395.48 181.01 392.15 172.22 386.17 169.03C385.58 168.72 384.97 168.46 384.33 168.26C384.31 168.26 384.3 168.25 384.28 168.24C383.4 167.97 382.48 167.82 381.5 167.79C380.72 167.77 379.98 167.61 379.28 167.34C379.15 167.29 379.02 167.24 378.89 167.18C378.85 167.16 378.8 167.14 378.76 167.12C378.24 166.87 377.75 166.56 377.28 166.19C377.22 166.14 377.16 166.1 377.1 166.05C375.94 165.09 374.97 163.8 374.21 162.3C374.13 162.14 374.06 161.99 373.98 161.83C373.82 161.47 373.66 161.11 373.52 160.74C372.59 158.27 372.2 155.44 372.46 152.76C372.46 152.72 372.46 152.69 372.47 152.65C373 147.62 375.87 143.15 381.89 142.64C398.18 141.26 398.98 112.76 398.98 112.76H398.88C398.91 112.48 398.93 112.19 398.95 111.91C398.95 111.91 398.95 111.9 398.95 111.89C398.97 111.6 398.98 111.3 398.98 111.01C398.98 110.76 398.98 110.51 398.96 110.27C398.96 110.13 398.94 110 398.93 109.86C398.93 109.76 398.92 109.66 398.91 109.57C398.89 109.39 398.87 109.21 398.85 109.03C398.85 108.99 398.85 108.95 398.83 108.91C398.8 108.7 398.77 108.5 398.74 108.29C398.74 107.91 398.72 107.49 398.7 107.04C398.7 106.99 398.7 106.93 398.7 106.88C398.7 106.77 398.69 106.66 398.68 106.55C398.68 106.48 398.68 106.41 398.67 106.33C398.67 106.22 398.66 106.12 398.65 106.01C398.65 105.93 398.65 105.85 398.64 105.77C398.64 105.66 398.63 105.55 398.62 105.44C398.62 105.35 398.61 105.27 398.6 105.18C398.6 105.07 398.58 104.96 398.58 104.85C398.58 104.76 398.57 104.67 398.56 104.57C398.56 104.46 398.54 104.35 398.53 104.23C398.53 104.13 398.51 104.03 398.5 103.93C398.5 103.82 398.48 103.71 398.47 103.59C398.47 103.48 398.45 103.38 398.44 103.27C398.43 103.16 398.42 103.05 398.41 102.93C398.4 102.81 398.39 102.69 398.37 102.57C398.36 102.47 398.35 102.37 398.34 102.26C398.32 102.04 398.29 101.81 398.27 101.59C398.27 101.5 398.25 101.41 398.24 101.32C398.22 101.17 398.21 101.02 398.19 100.87C398.18 100.77 398.16 100.66 398.15 100.56C398.13 100.42 398.12 100.28 398.1 100.14C398.09 100.03 398.07 99.92 398.06 99.81C398.04 99.67 398.02 99.54 398 99.4C397.98 99.29 397.97 99.18 397.95 99.07C397.93 98.93 397.91 98.79 397.89 98.65C397.87 98.54 397.86 98.43 397.84 98.31C397.82 98.17 397.8 98.02 397.77 97.88C397.75 97.77 397.74 97.65 397.72 97.54C397.7 97.39 397.67 97.24 397.65 97.1C397.63 96.99 397.61 96.88 397.6 96.77C397.57 96.61 397.55 96.45 397.52 96.3C397.5 96.2 397.48 96.09 397.47 95.99C397.44 95.81 397.41 95.64 397.37 95.46C397.35 95.37 397.34 95.29 397.32 95.2C397.22 94.67 397.12 94.14 397 93.6C396.98 93.52 396.97 93.44 396.95 93.37C396.91 93.18 396.87 92.99 396.83 92.8C396.81 92.7 396.79 92.61 396.76 92.51C396.72 92.34 396.68 92.17 396.64 92C396.62 91.9 396.59 91.79 396.57 91.69C396.53 91.53 396.49 91.36 396.45 91.2C396.42 91.09 396.4 90.98 396.37 90.88C396.33 90.72 396.29 90.56 396.25 90.39C396.22 90.28 396.19 90.17 396.16 90.06C396.12 89.9 396.07 89.74 396.03 89.57C396 89.46 395.97 89.36 395.94 89.25C395.89 89.08 395.85 88.92 395.8 88.75C395.77 88.65 395.74 88.55 395.71 88.45C395.66 88.27 395.6 88.09 395.55 87.92C395.52 87.83 395.5 87.75 395.47 87.66C395.4 87.44 395.33 87.22 395.26 87C395.25 86.96 395.23 86.91 395.22 86.87C395.13 86.6 395.04 86.34 394.95 86.08C394.94 86.04 394.92 86 394.91 85.96C394.83 85.74 394.76 85.52 394.68 85.31C394.65 85.23 394.62 85.15 394.59 85.07C394.53 84.9 394.46 84.72 394.39 84.55C394.35 84.46 394.32 84.37 394.28 84.27C394.22 84.11 394.15 83.95 394.09 83.79C394.05 83.69 394.01 83.6 393.97 83.5C393.91 83.35 393.84 83.2 393.78 83.05C393.74 82.95 393.7 82.85 393.65 82.76C393.58 82.61 393.52 82.47 393.45 82.32C393.41 82.22 393.36 82.13 393.32 82.03C393.25 81.88 393.18 81.74 393.11 81.59C393.07 81.5 393.02 81.41 392.98 81.32C392.91 81.17 392.83 81.02 392.75 80.87C392.71 80.79 392.67 80.7 392.62 80.62C392.53 80.46 392.45 80.3 392.36 80.13C392.33 80.07 392.29 80 392.26 79.94C392.01 79.49 391.75 79.06 391.48 78.64C391.44 78.58 391.4 78.53 391.37 78.47C391.27 78.32 391.18 78.17 391.08 78.03C391.03 77.96 390.98 77.89 390.93 77.81C390.84 77.68 390.75 77.56 390.66 77.43C390.6 77.35 390.55 77.28 390.49 77.2C390.4 77.08 390.31 76.97 390.22 76.86C390.16 76.78 390.1 76.71 390.04 76.63C389.95 76.52 389.86 76.41 389.77 76.31C389.71 76.24 389.64 76.16 389.58 76.09C389.49 75.99 389.39 75.88 389.3 75.78C389.24 75.71 389.17 75.64 389.11 75.57C389.01 75.47 388.91 75.37 388.81 75.27C388.75 75.21 388.68 75.14 388.62 75.08C388.51 74.98 388.4 74.88 388.29 74.78C388.23 74.73 388.17 74.67 388.11 74.62C387.98 74.51 387.84 74.4 387.71 74.29C387.67 74.26 387.63 74.23 387.6 74.2C387.42 74.06 387.25 73.93 387.06 73.81C387.02 73.78 386.98 73.76 386.94 73.73C386.8 73.63 386.66 73.54 386.51 73.45C386.44 73.41 386.38 73.37 386.31 73.33C386.19 73.26 386.07 73.19 385.95 73.12C385.87 73.08 385.8 73.04 385.72 73C385.6 72.94 385.49 72.88 385.37 72.83C385.29 72.79 385.21 72.76 385.12 72.72C385 72.67 384.89 72.62 384.77 72.57C384.68 72.54 384.6 72.5 384.51 72.47C384.39 72.43 384.27 72.39 384.15 72.35C384.06 72.32 383.97 72.29 383.88 72.27C383.76 72.23 383.63 72.2 383.51 72.17C383.42 72.15 383.33 72.12 383.24 72.1C383.11 72.07 382.97 72.05 382.84 72.02C382.75 72 382.67 71.99 382.58 71.97C382.43 71.95 382.28 71.93 382.13 71.91C382.06 71.91 381.98 71.89 381.91 71.88C381.68 71.86 381.45 71.84 381.22 71.84C373.78 71.62 369.86 58.54 373.44 51.33C373.51 51.19 373.58 51.06 373.65 50.92C373.82 50.61 374.01 50.31 374.21 50.03C374.44 49.71 374.69 49.4 374.96 49.11C374.97 49.1 374.98 49.09 374.99 49.07C376.52 47.48 378.7 46.54 381.61 46.68C382.14 46.71 382.66 46.72 383.18 46.74C383.34 46.74 383.5 46.74 383.66 46.75C384.07 46.75 384.48 46.76 384.88 46.76C384.99 46.76 385.1 46.76 385.2 46.76C410.37 46.63 426.23 31.81 429.13 22.82C430.07 20.77 430.6 18.5 430.6 16.1C430.6 7.21 423.39 0 414.5 0L414.58 0Z" fill="#291329"/>
                    <path d="M74.4599 306.24C101.72 307.59 129.65 296.86 133.78 282.38C134.72 280.33 135.25 278.06 135.25 275.66C135.25 266.77 129.03 261.06 120.14 261.06H27.5799C18.6899 261.06 11.4799 268.27 11.4799 277.16C12.1199 284.25 13.0399 288.51 14.2599 291.01C16.5199 298.22 20.7799 305.53 28.8299 306.21C30.1499 306.32 31.3199 306.6 32.3699 307.02C41.3899 311.26 37.5699 331.11 28.3899 331.39C12.7599 331.85 10.4999 364.72 10.9099 370.01C10.9099 370.13 10.9399 370.24 10.9699 370.36C10.9399 370.78 10.9099 371.21 10.9099 371.64C10.9099 371.86 10.9099 372.07 10.9299 372.29H10.9099C10.9099 372.29 11.6999 400.49 27.7599 402.14H27.6699C28.1399 402.23 28.6099 402.3 29.1099 402.34C29.1999 402.34 29.2799 402.36 29.3599 402.37C42.0599 404.93 38.4799 427.02 28.3899 427.32C12.7599 427.78 10.4999 460.65 10.9099 465.94C10.9299 466.18 10.9899 466.41 11.0799 466.63C12.2099 474.42 18.9099 480.41 27.0099 480.41H76.1499C84.0599 480.19 90.5499 474.28 91.6499 466.63C91.7399 466.41 91.7999 466.18 91.8199 465.94C92.2199 460.65 89.8199 425.15 74.3399 427.32C73.9899 427.37 73.6399 427.39 73.2999 427.39C68.7599 426.49 65.7399 420.7 65.2799 414.91H65.2399V384.62C66.1199 379.85 68.9899 376.08 74.4599 376.35C101.72 377.7 129.65 366.97 133.78 352.49C134.72 350.44 135.25 348.17 135.25 345.77C135.25 336.88 129.03 331.17 120.14 331.17H72.6699C63.3499 328.75 60.7799 305.56 74.4599 306.24Z" fill="#291329"/>
                    <path d="M242.69 425.48C229.88 425.14 225.98 401.63 243.13 400.33C256.23 399.34 260.41 384.44 261.73 376.06C262.11 374.68 262.32 373.23 262.32 371.73C262.77 366.44 260.24 333.58 242.69 333.11C229.88 332.77 225.98 309.26 243.13 307.96C258.17 306.83 261.45 287.37 262.14 280.47C262.26 279.69 262.32 278.89 262.32 278.07C262.32 269.18 255.11 261.97 246.22 261.97H161.4C152.51 261.97 145.3 269.18 145.3 278.07C145.3 278.89 145.36 279.69 145.48 280.47C146.17 287.36 149.45 306.82 164.49 307.96C181.65 309.25 177.75 332.77 164.93 333.11C147.37 333.57 144.85 366.44 145.3 371.73C145.3 373.23 145.51 374.68 145.89 376.06C147.21 384.44 151.38 399.34 164.49 400.33C181.65 401.62 177.75 425.14 164.93 425.48C147.37 425.94 144.85 458.81 145.3 464.1C145.3 464.18 145.32 464.26 145.34 464.34C145.32 464.69 145.3 465.03 145.3 465.38C145.3 474.27 152.51 481.48 161.4 481.48H246.22C255.11 481.48 262.32 474.27 262.32 465.38C262.32 465.03 262.3 464.68 262.28 464.34C262.3 464.26 262.31 464.18 262.32 464.1C262.77 458.81 260.24 425.95 242.69 425.48ZM216.45 386.08C204.67 400.41 203.83 415.7 203.81 421.11C203.53 415.16 201.95 400.42 190.49 386.36C182.93 377.08 174.15 371.86 168.7 369.17C174.24 366.15 182.68 360.64 190.03 351.42C200.97 337.7 203.22 323.66 203.8 317.22C204.23 323.41 206.15 337.7 217.25 351.55C224.74 360.89 233.41 366.3 238.91 369.16C233.58 371.55 224.28 376.55 216.44 386.08H216.45Z" fill="#291329"/>
                    <path d="M398.01 425.35C385.2 425.01 381.3 401.5 398.45 400.2C411.55 399.21 415.73 384.31 417.05 375.93C417.43 374.55 417.64 373.1 417.64 371.6C418.09 366.31 415.56 333.45 398.01 332.98C385.2 332.64 381.3 309.13 398.45 307.83C413.49 306.7 416.77 287.24 417.46 280.34C417.58 279.56 417.64 278.76 417.64 277.94C417.64 269.05 410.43 261.84 401.54 261.84H379.51C372 262.62 366.07 268.12 365.47 275.71H365.42V276.97V341.9C364.96 343.26 364.13 343.24 363.38 343.42C362.58 342.79 361.04 339.95 359.66 337.17L339.83 273.13C337.98 267.25 331.85 263.16 325.09 262.26C324.01 261.86 322.9 262.06 321.74 261.97H298.79C289.9 261.97 282.69 269.18 282.69 278.07C282.69 278.89 282.75 279.69 282.87 280.47C283.56 287.36 286.84 306.82 301.88 307.96C319.04 309.25 315.14 332.77 302.32 333.11C284.76 333.57 282.24 366.44 282.69 371.73C282.69 373.23 282.9 374.68 283.28 376.06C284.6 384.44 288.77 399.34 301.88 400.33C319.04 401.62 315.14 425.14 302.32 425.48C284.76 425.94 282.24 458.81 282.69 464.1C282.69 464.18 282.71 464.26 282.73 464.34C282.71 464.69 282.69 465.03 282.69 465.38C282.69 474.27 289.9 481.48 298.79 481.48H321.74V481.41C329.4 480.21 335.94 473.71 335.94 465.84V408.98C335.94 408.98 336.44 395.02 337.7 395.02C338.04 395.02 338.37 394.92 338.71 394.87C339.44 395.02 340.25 395.75 341.25 398.21C343.1 402.74 346.02 409.8 346.02 409.8L365.6 470.97C366.4 473.5 367.89 475.7 369.85 477.46C372.35 480.06 375.74 480.96 379.52 481.35H401.55C410.44 481.35 417.65 474.14 417.65 465.25C417.65 464.9 417.63 464.55 417.61 464.21C417.63 464.13 417.64 464.05 417.65 463.97C418.1 458.68 415.57 425.82 398.02 425.35H398.01Z" fill="#291329"/>
                    <path d="M554.34 261.18H442.19C433.3 261.18 426.09 268.06 426.09 276.95C426.1 277.47 426.09 278.49 426.38 279.53C427.65 284.14 437.98 305.43 466.46 307.73C469.69 308.01 472.96 308.26 476.28 308.46C476.35 308.46 476.41 308.46 476.48 308.47C476.59 308.48 476.7 308.5 476.81 308.51C493.97 309.8 490.07 333.32 477.25 333.66C459.69 334.12 457.17 366.99 457.62 372.28C457.62 373.78 457.83 375.23 458.21 376.61C459.53 384.99 463.7 399.89 476.81 400.88C493.97 402.17 490.07 425.69 477.25 426.03C459.69 426.49 457.17 459.36 457.62 464.65C457.62 464.73 457.64 464.81 457.66 464.89C457.64 465.24 457.62 465.58 457.62 465.93C457.62 474.82 464.83 482.03 473.72 482.03H495.75C496.62 481.94 497.46 481.82 498.27 481.66C499.09 481.82 499.93 481.94 500.79 482.03H522.82C531.71 482.03 538.92 474.82 538.92 465.93C538.92 465.58 538.9 465.23 538.88 464.89C538.9 464.81 538.91 464.73 538.92 464.65C539.37 459.36 536.84 426.5 519.29 426.03C506.48 425.69 502.58 402.18 519.73 400.88C532.83 399.89 537.01 384.99 538.33 376.61C538.71 375.23 538.92 373.78 538.92 372.28C539.37 366.99 536.84 334.13 519.29 333.66C506.48 333.32 502.58 309.81 519.73 308.51C520.04 308.49 520.33 308.44 520.63 308.41C523.73 308.22 526.8 308 529.82 307.74C534.31 307.62 545.56 306.19 556.77 298.34C563.42 293.69 567.61 288.21 568.97 284.01C569.91 281.96 570.44 279.69 570.44 277.29C570.44 268.4 563.23 261.19 554.34 261.19V261.18Z" fill="#291329"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_63_115">
                    <rect width="570.44" height="482.02" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
			</div>
			</div>
			<svg class="hidden md:grid col-start-7 place-self-start ml-4" width="75" height="111" viewBox="0 0 75 111" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_3_27)">
				<path d="M74.93 55.44C69.06 52.38 59.81 46.61 51.82 36.64C39.97 21.86 37.92 6.61 37.46 0C36.84 6.87 34.45 21.85 22.77 36.49C14.92 46.34 5.91 52.22 0 55.44C1.81 56.34 3.97 57.5 6.33 58.97C11.51 62.34 17.6 67.2 23.1 74.06C34.95 88.84 37 104.09 37.45 110.7C37.45 110.69 37.45 110.67 37.45 110.66C37.45 110.73 37.45 110.81 37.46 110.88C37.46 110.77 37.46 110.64 37.46 110.52C38.1 103.57 40.55 88.73 52.14 74.2C59.21 65.34 67.2 59.71 73.03 56.32C73.7 56 74.34 55.7 74.92 55.44H74.93Z" fill="#2A122A"/>
				</g>
				<defs>
				<clipPath id="clip0_3_27">
				<rect width="74.93" height="110.88" fill="white"/>
				</clipPath>
				</defs>
				</svg>
	</article>
	<article>
		<div class="h-60 grid grid-cols-8"><div class="col-span-3 border-r-2  border-[var(--purple-2)] "></div></div>

<div class="product-page">

    <article class="product">
        <!-- Sticky section containing image gallery -->
        <div class="product-media i-sticky md:px-0 px-10">
            <div class="dummy--gallery grid grid-cols-2 grid-rows-3 justify-stretch h-[700px] lg:w-[450px] ml-2 mb-2">
                <div class="flex relative place-content-center items-center bg-[var(--white)] border-2 border-[var(--purple-2)]">
                    <p class="absolute z-50  top-6 left-4 transform-translate-x-1/2 -translate-y-1/2">F</p>
                    <svg class="h-32 w-auto" width="58" height="102" viewBox="0 0 58 102" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M29.6536 21.0092C42.3649 21.6369 55.3887 16.6474 57.3145 9.91402C57.7529 8.96075 58 7.90517 58 6.78915C58 2.65521 55.0996 0 50.9542 0H7.7934C3.64798 0 0.285957 3.35272 0.285957 7.48667C0.58439 10.7836 1.01339 12.7645 1.58227 13.9271C2.63611 17.2798 4.62255 20.679 8.37627 20.9952C8.99179 21.0464 9.53736 21.1766 10.027 21.3719C14.233 23.3435 12.4517 32.574 8.1711 32.7042C0.882817 32.9181 -0.171021 48.203 0.0201623 50.6629C0.0201623 50.7187 0.0341502 50.7698 0.0481392 50.8256C0.0341502 51.0209 0.0201623 51.2209 0.0201623 51.4208C0.0201623 51.5231 0.0201643 51.6208 0.0294903 51.7231H0.0201623C0.0201623 51.7231 0.388543 64.8364 7.87733 65.6036H7.83536C8.05452 65.6455 8.27369 65.678 8.50684 65.6966C8.5488 65.6966 8.58611 65.7059 8.62341 65.7106C14.5454 66.901 12.8761 77.1731 8.1711 77.3126C0.882817 77.5265 -0.171021 92.8114 0.0201623 95.2713C0.0294883 95.3829 0.0574655 95.4899 0.0994326 95.5922C0.626352 99.2146 3.75057 102 7.52761 102H30.4416C34.1301 101.898 37.1564 99.1495 37.6693 95.5922C37.7113 95.4899 37.7392 95.3829 37.7486 95.2713C37.9351 92.8114 36.816 76.3035 29.5976 77.3126C29.4344 77.3359 29.2712 77.3452 29.1127 77.3452C26.9957 76.9267 25.5874 73.7692 25.3729 71.0768L25.3543 71.5418V57.4567C25.7646 55.2386 27.1029 53.4855 29.6536 53.611C42.3649 54.2388 55.3887 49.2492 57.3145 42.5159C57.7529 41.5626 58 40.507 58 39.391C58 35.2571 55.0996 32.6019 50.9542 32.6019H28.8189C24.473 31.4765 23.2746 20.693 29.6536 21.0092Z" fill="#2A122A"/>
					</svg>
					</div>
                <div class=" flex relative place-content-center items-center bg-[var(--white)] border-2 border-[var(--purple-2)]">
                    <p class="absolute z-50  top-6 left-4 transform-translate-x-1/2 -translate-y-1/2">O</p>
                    <svg class="h-32 w-auto" width="55" height="102" viewBox="0 0 55 102" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M45.7593 75.9784C39.7433 75.8204 37.9117 64.896 45.9659 64.2919C52.118 63.8319 54.0811 56.9083 54.701 53.0143C54.8795 52.3731 54.9781 51.6993 54.9781 51.0023C55.1894 48.5442 54.0013 33.2751 45.7593 33.0567C39.7433 32.8987 37.9117 21.9743 45.9659 21.3702C53.0291 20.8452 54.5695 11.8027 54.8935 8.59642C54.9499 8.23398 54.9781 7.86224 54.9781 7.48121C54.9781 3.35028 51.592 0 47.417 0H7.58302C3.40801 0 0.02199 3.35028 0.02199 7.48121C0.02199 7.86224 0.0501643 8.23398 0.10652 8.59642C0.430565 11.798 1.97096 20.8405 9.03419 21.3702C17.093 21.9697 15.2615 32.8987 9.24081 33.0567C0.994112 33.2705 -0.189344 48.5442 0.02199 51.0023C0.02199 51.6993 0.120611 52.3731 0.29907 53.0143C0.918982 56.9083 2.87734 63.8319 9.03419 64.2919C17.093 64.8913 15.2615 75.8204 9.24081 75.9784C0.994112 76.1922 -0.189344 91.4659 0.02199 93.924C0.02199 93.9612 0.0313723 93.9984 0.0407649 94.0355C0.0313723 94.1982 0.02199 94.3562 0.02199 94.5188C0.02199 98.6497 3.40801 102 7.58302 102H47.417C51.592 102 54.9781 98.6497 54.9781 94.5188C54.9781 94.3562 54.9687 94.1935 54.9593 94.0355C54.9687 93.9984 54.9734 93.9612 54.9781 93.924C55.1894 91.4659 54.0013 76.1968 45.7593 75.9784ZM33.4361 57.675C27.9039 64.3337 27.5094 71.4386 27.5 73.9524C27.3685 71.1876 26.6265 64.3384 21.2446 57.8051C17.6942 53.493 13.5708 51.0674 11.0113 49.8174C13.6131 48.4141 17.5767 45.8538 21.0285 41.5695C26.1663 35.1942 27.223 28.6702 27.4953 25.6777C27.6973 28.5541 28.599 35.1942 33.8119 41.6299C37.3294 45.9699 41.4011 48.4838 43.984 49.8128C41.4809 50.9233 37.1134 53.2467 33.4315 57.675H33.4361Z" fill="#2A122A"/>
					</svg>
					</div>
				<div class="flex relative place-content-center items-center bg-[var(--white)] border-2 border-[var(--purple-2)]">
                    <p class="absolute z-50  top-6 left-4 transform-translate-x-1/2 -translate-y-1/2">N</p>
                    <svg class="h-32 w-auto" width="63" height="102" viewBox="0 0 63 102" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M53.8165 75.9334C47.8409 75.7755 46.0216 64.8576 54.0218 64.2539C60.1327 63.7941 62.0826 56.8746 62.6983 52.983C62.8756 52.3421 62.9735 51.6687 62.9735 50.9721C63.1835 48.5155 62.0033 33.2554 53.8165 33.0372C47.8409 32.8793 46.0216 21.9613 54.0218 21.3576C61.0376 20.8328 62.5677 11.7957 62.8896 8.59133C62.9456 8.2291 62.9735 7.85758 62.9735 7.47678C62.9735 3.3483 59.6102 0 55.4632 0H45.1866C41.6833 0.362229 38.9171 2.91641 38.6372 6.44118H38.6139V7.02632V37.1796C38.3993 37.8111 38.0121 37.8019 37.6623 37.8855C37.2891 37.5929 36.5707 36.274 35.9269 34.983L26.6766 5.24303C25.8136 2.51238 22.9541 0.613003 19.8007 0.195046C19.2969 0.00928796 18.7791 0.102167 18.2379 0.0603715H7.5322C3.38518 0.0603715 0.0218424 3.40867 0.0218424 7.53715C0.0218424 7.91796 0.0498279 8.28947 0.105806 8.6517C0.427678 11.8514 1.95774 20.8885 8.97363 21.418C16.9785 22.017 15.1592 32.9396 9.17888 33.0975C0.987462 33.3111 -0.188074 48.5759 0.0218424 51.0325C0.0218424 51.7291 0.119802 52.4025 0.297065 53.0433C0.912821 56.935 2.85805 63.8545 8.97363 64.3142C16.9785 64.9133 15.1592 75.8359 9.17888 75.9938C0.987462 76.2074 -0.188074 91.4721 0.0218424 93.9288C0.0218424 93.9659 0.0311618 94.0031 0.0404914 94.0403C0.0311618 94.2028 0.0218424 94.3607 0.0218424 94.5232C0.0218424 98.6517 3.38518 102 7.5322 102H18.2379V101.967C21.8112 101.41 24.862 98.3916 24.862 94.7368V68.3313C24.862 68.3313 25.0952 61.8483 25.683 61.8483C25.8416 61.8483 25.9955 61.8019 26.1541 61.7786C26.4947 61.8483 26.8725 62.1873 27.339 63.3297C28.202 65.4334 29.5641 68.7121 29.5641 68.7121L38.6978 97.1192C39.071 98.2941 39.7661 99.3158 40.6804 100.133C41.8466 101.341 43.428 101.759 45.1913 101.94H55.4679C59.6149 101.94 62.9782 98.5913 62.9782 94.4629C62.9782 94.3003 62.9689 94.1378 62.9596 93.9799C62.9689 93.9427 62.9736 93.9056 62.9782 93.8684C63.1881 91.4118 62.0079 76.1517 53.8212 75.9334H53.8165Z" fill="#2A122A"/>
					</svg>
					</div>
				<div class="flex relative place-content-center items-center bg-[var(--white)] border-2 border-[var(--purple-2)]">
                    <p class="absolute z-50  top-6 left-4 transform-translate-x-1/2 -translate-y-1/2">T</p>
                    <svg class="h-32 w-auto" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.41 220.9">
					<defs>
					  <style>
						.cls-1 {
						  fill: #2A122A;
						}
					  </style>
					</defs>
					<g id="Layer_1-2" data-name="Layer 1">
					  <path class="cls-1" d="M128.29,0H16.14C7.25,0,.04,6.88.04,15.77H.04c-1.07,9.5,19.86,33.85,52.45,31.36,8.16,2.84,7.39,17.31,1.13,22.93-2.26,2.31-5.71,1.35-8.37,2.71-12.95,6.85-13.59,33.42-13.4,39.95h-.02s0,0,0,0c3.09,42.09,23.34,20.49,26.52,40,.69,9.56-3.82,14.99-13.1,15.98-11.96,5.47-13.78,32.88-13.41,37.67.8,6.33,5.28,12.04,11.5,13.8,3.13,1.27,15.29.44,18.71.67,9.33.03,25.57-.02,35.02,0h0c13.07-.97,17.7-12.03,15.05-24.9-1.23-9.5-4.51-22.85-12.2-26.95-5.36-1.78-10.72-1.56-12.64-8.29-6.97-29.76,23.63-3.41,25.46-47.98h-.1c-.24-12.28-1.42-25.88-8.83-36.13-2.14-2.69-5.31-4.71-8.82-4.77-8.19-.28-12.29-16.15-6.26-22.73,1.72-2.07,5.13-2.71,8.23-2.36,24.57,1.16,43.5-14.68,45.95-23.92C147.9,12.58,139.79-.28,128.29,0Z"/>
					</g>
				  </svg></div>
				<div class="flex relative place-content-center items-center bg-[var(--white)] border-2 border-[var(--purple-2)]">
                    <p class="absolute z-50  top-6 left-4 transform-translate-x-1/2 -translate-y-1/2">A</p>
                    <svg class="h-32 w-auto" width="63" height="102" viewBox="0 0 63 102" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M54.8361 77.3974C49.978 77.2538 48.3571 66.3095 55.0224 65.7491C62.6099 65.1099 62.9825 51.9101 62.9825 51.9101H62.9546C62.9779 51.66 62.9918 51.4099 62.9918 51.1552C62.9918 51.0486 62.9919 50.9375 62.9825 50.8309C63.1595 48.316 62.0976 33.1849 54.8361 32.9672C49.978 32.8236 48.3571 21.8793 55.0224 21.3189C61.4082 20.7816 62.6844 11.3426 62.9266 8.36916C62.9592 8.07737 62.9825 7.78096 62.9825 7.47991C62.9825 3.36249 59.6243 0.0231576 55.4835 0.0231576H46.154C45.5391 0.0231576 45.0547 0 44.4026 0H44.1185C43.5549 0 42.9075 0.0231576 42.2834 0.0231576H7.52232C3.38155 0.0231576 0.0232889 3.35785 0.0232889 7.47991C0.0232889 7.78096 0.04192 8.07737 0.0791823 8.36916C0.321387 11.3426 1.59762 20.7816 7.98344 21.3189C15.1005 21.9164 13.4843 32.8097 8.16975 32.9672C0.884979 33.1802 -0.163022 48.404 0.0232889 50.8495C0.0232889 50.8541 0.0232889 50.8634 0.0232889 50.868C0.00931556 51.0486 0 51.2293 0 51.4099C0 51.7434 0.0232889 52.0676 0.065209 52.3871C0.284125 55.2309 1.50912 64.9015 7.97878 65.4434C15.0959 66.0409 13.4796 76.9342 8.16509 77.0917C0.884979 77.3094 -0.163022 92.5285 0.0232889 94.9786C0.0326045 95.0898 0.0605512 95.1917 0.102471 95.2936C0.624143 98.9061 3.74486 101.68 7.52232 101.68H11.91L14.7745 101.778C14.7745 101.778 19.7024 101.287 20.4383 96.3727C20.4989 95.9698 20.5315 95.5483 20.5315 95.0898L20.4477 73.2012C20.4477 73.2012 20.443 73.0391 20.4337 72.9002V70.0981C20.4616 69.8989 20.4896 69.6998 20.5315 69.5052V59.7466C20.8948 57.7782 22.0919 56.1016 24.3649 55.7172H38.3988C38.5711 55.7496 38.6596 55.745 38.7807 55.7913C38.9251 55.8052 38.9856 55.8747 39.0928 55.8839C41.7104 56.1062 43.0519 57.9311 43.4152 60.0755V95.3769C43.4152 95.9651 43.527 96.5441 43.7319 97.0952C43.9136 97.9011 44.2163 98.5727 44.589 99.1331V99.147H44.5936C46.2564 101.662 49.2933 101.963 49.2933 101.963L49.3119 102L49.7638 101.986H55.4695C59.2423 101.986 62.3677 99.2118 62.8894 95.6039C62.9313 95.502 62.9592 95.3955 62.9686 95.2843C63.1549 92.8342 62.1069 77.615 54.8268 77.3974H54.8361ZM37.4299 35.1764C31.9012 41.8597 31.5099 48.9876 31.5052 51.5164C31.3748 48.7375 30.6342 41.8689 25.2592 35.3061C21.7146 30.9802 17.5924 28.5441 15.04 27.2843C17.639 25.8763 21.5981 23.3058 25.0449 19.0031C30.1778 12.6024 31.2304 6.05803 31.5006 3.05217C31.7009 5.94224 32.5998 12.607 37.8072 19.0633C41.3192 23.4216 45.3854 25.9412 47.9658 27.2797C45.4646 28.3912 41.1049 30.7255 37.4299 35.1671V35.1764Z" fill="#2A122A"/>
					</svg>
					</div>
				<div class="flex relative place-content-center items-center bg-[var(--white)] border-2 border-[var(--purple-2)]">
                    <p class="absolute z-50  top-6 left-4 transform-translate-x-1/2 -translate-y-1/2">I</p>
                    <svg class="h-36 w-auto" width="37" height="123" viewBox="0 0 37 123" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M27.8173 87.3723C33.5049 86.9377 35.3198 80.3961 35.8929 76.717C36.0578 76.1111 36.149 75.4745 36.149 74.8159C36.3444 72.4934 35.2459 58.0667 27.6263 57.8604C27.5698 57.8604 27.5134 57.8516 27.4526 57.8472H9.5474C9.49096 57.8472 9.43452 57.8604 9.37374 57.8604C1.74971 58.0624 0.655596 72.4934 0.850972 74.8159C0.850972 75.4745 0.942148 76.1111 1.10713 76.717C1.68024 80.3961 3.49073 86.9377 9.1827 87.3723C16.6331 87.9387 14.9398 98.2648 9.37374 98.4141C1.74971 98.616 0.655596 113.047 0.850972 115.37C0.850972 115.405 0.859656 115.44 0.868339 115.475C0.859656 115.629 0.850972 115.778 0.850972 115.932C0.850972 119.835 3.98134 123 7.84111 123H17.4059C17.7836 122.96 18.1483 122.908 18.5 122.838C18.856 122.908 19.2207 122.96 19.5941 123H29.1589C33.0187 123 36.149 119.835 36.149 115.932C36.149 115.778 36.1403 115.624 36.1317 115.475C36.1403 115.44 36.1447 115.405 36.149 115.37C36.3444 113.047 35.2459 98.6204 27.6263 98.4141C22.0645 98.2648 20.3713 87.9431 27.8173 87.3723Z" fill="#2A122A"/>
					<path d="M37 27.6855C34.1041 26.1577 29.5323 23.2776 25.5857 18.299C19.7374 10.9144 18.7258 3.30154 18.5 0C18.1961 3.43325 17.0108 10.9144 11.245 18.2243C7.36787 23.1371 2.91762 26.0743 0 27.6855C0.894391 28.1334 1.96245 28.7129 3.12603 29.4461C5.68329 31.1276 8.69209 33.5554 11.4057 36.9843C17.2583 44.3645 18.2655 51.9817 18.4913 55.2833C18.4913 55.2789 18.4913 55.2701 18.4913 55.2657C18.4913 55.3008 18.4913 55.3403 18.4957 55.3755C18.4957 55.3184 18.4957 55.2569 18.4957 55.1955C18.8126 51.7271 20.0239 44.3118 25.742 37.0589C29.2327 32.6335 33.175 29.8236 36.0579 28.129C36.3878 27.9665 36.7048 27.8172 36.9913 27.6899L37 27.6855Z" fill="#2A122A"/>
					</svg>
					</div>
            </div>
        </div>
        <div class="md:hidden h-60 grid grid-cols-8"><div class="col-span-3 border-r-2  border-[var(--purple-2)] "></div></div>
        <div class="product-detail">
            <div class="flex flex-col justify-between h-80 bg-[var(--white)] max-w-[24rem] ml-auto border-2 border-[var(--purple-2)] p-5">
                <h1>This is <br> Afto</h1>
                <p class="">A set of six <br>new <span class="font-black">bold</span> letters</p>
            </div>
            <div class="hidden h-60 md:grid grid-cols-8"><div class="col-span-6 border-r-2  border-[var(--purple-2)] "></div></div>
            <div class="h-60 grid grid-cols-8"><div class="col-span-6 border-r-2  border-[var(--purple-2)] "></div></div>
            <div class="flex flex-col justify-between h-80 bg-[var(--white)] max-w-[24rem] ml-auto border-2 border-[var(--purple-2)] p-5">
                <div class="flex flex-row justify-end">
                    <p class=""><span class="text-[var(--text-color)]">Inspired by</span> <br> Groovy 70's <br> wallpaper <br><span class="text-[var(--text-color)]">and</span></p></div>
            
                <p class="">Mid <br>century <br>modern <span class="text-[var(--text-color)]">design</span></p>
            </div>
            <div class="max-w-[24rem] ml-auto border-2 border-[var(--purple-2)]"><Image class="h-9xl" src={thumbsup} alt=""></Image></div>
            <div class="h-20 grid grid-cols-8"><div class="col-span-5 border-r-2  border-[var(--purple-2)] "></div></div>
            <div class="max-w-[24rem] mr-auto ml-auto border-2 border-[var(--purple-2)]"><Image class="h-9xl" src={thumbsup} alt=""></Image></div>
            <div class="h-20 grid grid-cols-8"><div class="col-span-5 border-r-2  border-[var(--purple-2)] "></div></div>
            <div class="max-w-[24rem] ml-auto border-2 border-[var(--purple-2)]"><Image class="h-9xl" src={thumbsup} alt=""></Image></div>
            <div class="h-60 grid grid-cols-8"><div class="col-span-5 border-r-2  border-[var(--purple-2)] "></div></div>
            <div class="hidden md:grid h-60 grid-cols-8"><div class="col-span-5 border-r-2  border-[var(--purple-2)] "></div></div>
            <!-- <div class="dummy">You May Need</div> -->
        </div>
    </article>
    
    <article class="md:grid md:grid-cols-8 flex flex-col"><div class="col-start-3 col-span-4 border-2 border-[var(--purple-2)] bg-[var(--white)] product__bought-together">
        <div class="grid grid-cols-1 lg:grid-cols-2"><h1 class="p-7  lg:border-r-2 border-r-0 lg:border-b-0 border-b-2 border-[var(--purple-2)]">Build<br> from <br><span class="text-[var(--blue-3)] underline italic">four</span> <br> shapes</h1>
            <Image class="h-9xl" src={thumbsup} alt=""></Image></div>
    </div>
    </article>
    <div class="h-40 grid grid-cols-8"><div class="col-span-3 border-r-2  border-[var(--purple-2)] "></div></div>
    <article class="md:grid md:grid-cols-8 flex flex-col"><div class="col-start-3 col-span-4 border-2 border-[var(--purple-2)] bg-[var(--white)]">
         <Image class="h-9xl" src={thumbsup} alt=""></Image> 
        </div>
    </article>
    <div class="h-20 grid grid-cols-8"><div class="col-span-5 border-r-2  border-[var(--purple-2)] "></div></div>
    <article class="md:grid md:grid-cols-8 flex flex-col">
        <div class="col-start-5 col-span-2 border-2 border-[var(--purple-2)] bg-[var(--white)] p-7">
            <div class="flex flex-row justify-end">
                <p class=""><span class="text-[var(--text-color)]">Made with<br> a </span>love <span class="text-[var(--text-color)]"> for</span></p></div>
        
            <p class=""><span class="font-black text-5xl">bold</span><br><span class="text-[var(--text-color)]">graphic <br> design choices</span></p>
        </div>
            <!-- <p class="text-[var(--text-color)]">Made with <br> a love for<br><span class="text-[var(--blue-3)] ">bold</span> <br>graphic design <br>choices</p> -->
        </div>
    </article>
    <div class="h-20 grid grid-cols-8"><div class="col-span-5 border-r-2  border-[var(--purple-2)] "></div></div>
    <article class="md:grid md:grid-cols-8 flex flex-col">
        <div class="col-start-3 col-span-4 border-2 border-[var(--purple-2)] bg-[var(--white)]">
            <Image src={thumbsup} alt=""></Image>    
           </div>
    </article>
    <div class="h-40 grid grid-cols-8"><div class="col-span-3 border-r-2  border-[var(--purple-2)] "></div></div>
    
    <!-- <div class="dummy">More</div> -->
</div>
	</article>
</MainLayout>

<style>
	html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

/** Dummy content **/
.dummy {
    text-align: center;
    padding: 1em 0;
    background: dodgerblue;
    color: white;
    margin: 16px 8px;
    border-radius: 4px;
    min-height: 80px;
}

.dummy__gallery-thumbs {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    background: transparent;
    min-height: 80px;
}

.dummy--gallery {
    background: #663399;
    background: rebeccapurple;
    min-height: 400px;
}

.product-detail .dummy {
    min-height: 240px;
}
.product-detail-2 .dummy {
    min-height: 240px;
}
.product {
    position: relative;
}

.product::after {
    display: table;
    width: 100%;
    height: 1px;
    content: '';
    clear: both;
}

@media screen and (min-width: 768px) {
    .product-media {
        float: right;
        width: 50%;
    }

    .product-detail {
        width: 50%;
        float: left;
    }
	.product-media-2 {
        float: right;
        width: 50%;
    }

    .product-detail-2 {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 768px) {

    .is-sticky {
        position: fixed;
        top: 0;
    }

    .is-sticky-bottom {
        position: absolute;
        bottom: 0;
    }
}

@supports (position: sticky) or (position: -webkit-sticky) {
    @media screen and (min-width: 768px) {
        .product-media {
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -o-sticky;
            position: -ms-sticky;
            position: sticky;
            top: 0;
        }
    }
}


</style>
<script>
	function supportsSticky() {
    try {
        return (
            CSS.supports("position", "sticky") ||
            CSS.supports("position", "-webkit-sticky")
        );

    } catch(e) {
        return false;
    }
}

function stickyStick(container, target) {

    var cPos = container.getBoundingClientRect();
    var tPos = target.getBoundingClientRect();
    var atBottom = (cPos.bottom  <= tPos.height);
    var isSticky = (cPos.top < 1 && ! atBottom);

    if(isSticky) {
        sticky.classList.add('is-sticky');
    } else {
        sticky.classList.remove('is-sticky');
    }

    if(atBottom) {
        sticky.classList.add('is-sticky-bottom');
    } else {
        sticky.classList.remove('is-sticky-bottom');
    }
}

if(! supportsSticky()) {
   var sticky = document.querySelector('.i-sticky');
    var container = sticky.parentNode;
 window.addEventListener('scroll',function() {
        stickyStick(container, sticky);
    });
}
</script>